<div class="presentation-list-card">
    <div class="card-title"><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></div>
    {{- if .Params.authors -}}
    <ul class="card-authors">
        {{- range .Params.authors -}}
        <li>{{ . }}</li>
        {{- end -}}
    </ul>
    {{- end -}}
    <div class="card-details">
        {{- if .Params.booktitle -}}
        <div>Booktitle: {{ .Params.booktitle }}</div>
        {{- end -}}
        <div>Date: {{ .Params.month }}-{{ .Params.year }}</div>
        {{- if .Params.organisation -}}
        <div>Organisation: {{ .Params.organisation }}</div>
        {{- end -}}
        {{- if .Params.note -}}
        <div>Note: {{ .Params.note }}</div>
        {{- end -}}
    </div>
    <div class="card-bottom">
        <div><a href="{{ .RelPermalink }}">[...know more...]</a></div>   
        {{- with .Resources.GetMatch "*.bib" -}}
        <a href="{{ .RelPermalink | relURL }}" target="_blank" class="bibtex-download" title="Download the bibtex file.">
            <img src="/img/svg/download.svg" alt="Download Bibtex" width="20" height="20">
        </a>
        {{- end -}}
    </div>
</div>