:root {
  --primary-color: #f7f9f6;
  --hover-color: #7d9c63;
  --accent-color: #aecbc1;
  --secondary-color: #8cb3b5;
  --text-color: #12160e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--text-color);
  height: 100%;
}

body {
  height: 100%;
  min-height: 100dvh;
  max-width: 700px;
  min-width: 320px;
  margin: auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

main {
  padding: min(5em, 7%);
  flex: 1;
}

main p {
  margin-top: .5em;
}

a {
  color: var(--hover-color);
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: anywhere;
}

a:hover {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

.footnotes {
  margin: 0;
  width: 100%;
  padding: 2em 0 2em 1em;
}

.footnotes hr {
  display: none;
}

.footnotes p {
  display: block;
  text-wrap: wrap;
}

.footnotes a {
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.home-content p {
  display: block;
  padding: 1em 0;
}

.div-404 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
}

.div-404 > div {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 2em 0;
  text-align: center;
  justify-content: center;
}

.div-404 > div a {
  text-decoration: none;
  display: flex;
  width: fit-content;
  margin: 0;
  padding: 1em 2em;
  border: 2px solid var(--hover-color);
  border-radius: 5px;
  box-shadow: 10px 10px var(--accent-color);
  transition: 600ms ease-in-out;
}

.div-404 > div a:hover {
  text-decoration: underline;
  box-shadow: none;
  background-color: var(--hover-color);
}

.download-cv {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: 2px solid var(--hover-color);
  border-radius: .5em;
  padding: 0 2em;
}

.download-cv:hover {
  background-color: var(--hover-color);
}


.download-cv a:hover {
  background-color: var(--hover-color);
}

.nav-header {
  display: block;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--hover-color);
}

.nav-header ul {
  list-style: none;
  display: flex;
}

.nav-header li {
  display: flex;
}

.nav-header .home-link {
  margin-right: auto;
}

.nav-header a {
  display: flex;
  text-decoration: none;
  font-weight: 700;
  color: var(--text-color);
  padding: 1em 1em;
}

.nav-header a:hover {
  background-color: var(--hover-color);
}

.nav-header a.active-link {
  background-image: linear-gradient(to top, var(--hover-color), var(--accent-color));
}

#header-menu-open {
  display: none;
  background: none;
  border: none;
  padding: 1em 1em;
  margin-left: auto;
  cursor: pointer;
}

#header-menu-close {
  display: none;
  background: none;
  border: none;
  padding: 1em 1em;
  cursor: pointer;
}

#nav-menu-close-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.66);
  position: fixed;
  inset: 0;
  z-index: 5;
}

footer {
  display: block;
}

.footer-info {
  background-color: var(--primary-color);
  border-top: 2px solid var(--hover-color);
  display: block;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  padding: 0em min(2em, 7%);
}

.footer-links ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
}

.footer-links li {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.footer-links a {
  display: flex;
  text-decoration: none;
  padding: 1em 1em;
  width: 100%;
  justify-content: center;
}

.footer-links a img {
  width: 2em;
  height: 2em;
}

.nav-footer {
  background-color: var(--primary-color);
  border-top: 1px solid var(--hover-color);
  display: flex;
  padding: 1em min(2em, 7%);
}

.nav-footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
}

.nav-footer li {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-footer a {
  text-decoration: none;
  font-weight: 400;
  padding: 0;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-disclaimers {
  background-color: var(--primary-color);
  border-top: 2px solid var(--hover-color);
}

.footer-disclaimers ul {
  list-style: none;
  display: block;
  padding: 1em min(2em, 7%);
}

.footer-disclaimers li {
  display: flex;
  width: 100%;
  justify-content: left;
  padding: 0 1em;
}

@media screen and (max-width: 700px) {
  .nav-header {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 2px solid var(--hover-color);
  }

  .nav-header-unhide {
    display: block;
  }

  .nav-header ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-header li {
    width: 100%;
  }

  .nav-header .home-link {
    margin-right: unset;
  }

  .nav-header a {
    width: 100%;
  }

  .nav-header a.active-link {
    border-bottom: none;
    background-image: linear-gradient(to right, var(--hover-color), var(--accent-color));
  }

  #header-menu-open {
    display: flex;
  }

  #header-menu-close {
    display: flex;
  }
  
  .nav-header-unhide ~ #nav-menu-close-overlay {
    display: block;
  }

  .footer-links {
    padding: 0;
  }

  .footer-links ul {
    justify-content: space-between;
  }

  .footer-links a {
    padding: 1em 1em;
  }

  .nav-footer ul {
    display: block;
  }

  .nav-footer li {
    justify-content: center;
  }

  .footer-disclaimers li {
    padding: 0;
  }
}