$primary-color: #f7f9f6;
$hover-color: #7d9c63;
$accent-color: #aecbc1;
$secondary-color: #8cb3b5;
$text-color: #12160e;

$font-weights: (
    "lite": 400,
    "regular": 500,
    "semi-bold": 600,
    "bold": 800
);

$max-width: 700px;
$min-width: 320px;

$max-mobile-width: 575px;